<hr>
<div class="footer">
    <div class="footer_left">
        <a href="https://www.facebook.com/oklymenok"><img src="view/images/fb.png"></a>
        <a href="https://www.instagram.com/oklymenok"><img src="view/images/inst.png"></a>
        <a href="https://github.com/klymenok"><img src="view/images/git.png"></a>
        <a href="https://profile.intra.42.fr/users/oklymeno"><img src="view/images/intra.png"></a>
    </div>
    <div class="footer_right">Designed and made by<br> <b><i>oklymeno</i></b>, UNIT Factory, 2017 </div>
</div>
</body>
</html>