<head>
    <title>User Page</title>
</head>
<div class="information_container">
    <form method="post" id="user_form" onsubmit="changeImformation()">
        <div class="error_login_message"></div>
        <span>Username</span>
        <input class="main_user_info" type="text" name="username" value="" disabled="disabled"><br>
        <span>Email</span>
        <input class="main_user_info" type="email" name="email" value="" disabled="disabled">
        <input class="password_change" type="password" name="old_password" placeholder="Old password">
        <input class="password_change" type="password" name="new_password" placeholder="New password">
        <input class="password_change" type="password" name="new_password_confirm" placeholder="Confirm new password">
        <input class="submit_button main_user_info" type="submit" value="Confirm changes">
        <input class="submit_button password_change" type="submit" value="Confirm changes">
    </form>
    <div class="underform_links left" onclick="editUserInformation()">Edit information</div>
    <div class="underform_links right" onclick="changePassword()">Change Password</div>
</div>
<script type="text/javascript" src="<?='//' . $_SERVER['HTTP_HOST'] . '/' ?>camagru/view/js/userPage.js"></script>
